.oe_msg_icons .download-all-attachment{
    padding-top: 11px;
    font-size: 18px;
}
.oe_msg_icons .download-all-attachment:hover a span{
    color: #F5BCA9;
    text-shadow: 0px 1px #098E0C,0px -1px #098E0C, -1px 0px #098E0C, 1px 0px #098E0C, 0px 3px 3px rgba(0,0,0,0.1);
}