addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml # because pip installation is slow

language: python

python:
  - "2.7"

env:
  - VERSION="7.0" ODOO_REPO="odoo/odoo"
  
virtualenv:
  system_site_packages: true

install:
  - pip install flake8
  - pip install pysftp
  - pip install MySQL-python
  - pip install unidecode 
  - pip install pysmb # allow to use "from smb.SMBConnection import SMBConnection"
  - pip install coveralls
  - git clone https://github.com/albertsh/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools -b r2
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - git clone https://github.com/OCA/bank-statement-reconcile.git ${HOME}/build/albertsh/bank-statement-reconcile -b 7.0
  - git clone https://github.com/OCA/l10n-switzerland.git ${HOME}/build/albertsh/l10n-switzerland -b 7.0
  - git clone https://github.com/OCA/web.git ${HOME}/build/albertsh/web -b 7.0
  - git clone https://github.com/albertsh/compassion-accounting.git ${HOME}/build/albertsh/compassion-accounting -b 1.5
  - git clone https://github.com/OCA/bank-payment.git ${HOME}/build/albertsh/bank-payment -b 7.0
  - git clone https://github.com/OCA/account-financial-tools.git ${HOME}/build/albertsh/account-financial-tools -b 7.0
  - git clone https://github.com/albertsh/compassion-switzerland.git ${HOME}/build/albertsh/compassion-switzerland -b 1.5-devel
  - git clone https://github.com/OCA/partner-contact.git ${HOME}/build/albertsh/partner-contact -b 7.0
  - travis_install_nightly

script:
  - travis/travis_header.sh
  - travis_run_tests 


after_success:
  - coveralls
