# Config file .travis.yml
language: python

python:
  - "2.7"

install:
  - pip install flake8
  - git clone https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}

script:
  - travis_run_flake8
  - travis/travis_header.sh

notifications:
  email: false