jwt
pyquery
pytz
timezonefinder
Babel
phonenumbers
wand
geojson
Shapely
sphinx
sphinx_bootstrap_theme
sphinx-intl
odoo-sphinx-autodoc
regex
bs4
firebase_admin
python-magic
pyzbar
openupgradelib
pdfminer
git+https://github.com/pdfminer/pdfminer.six@master
git+https://github.com/mstamy2/PyPDF2@master
PyMuPDF>=1.19.3
pandas-datareader
pytesseract
langdetect
iso639-lang