bs4
geojson
matplotlib
opencv-python
phonenumbers
pyjwt
pyquery
python-magic
shapely
Shapely
wand
regex
simplejson
detectlanguage
timezonefinder==3.4.2
firebase-admin==3.2.1
pytz
pyzbar
pillow
git+https://github.com/pdfminer/pdfminer.six@20191110
git+https://github.com/mstamy2/PyPDF2@master
