bs4
geojson
matplotlib
opencv-python
pdfminer
phonenumbers
pyjwt
pyquery
python-magic
shapely
Shapely
wand
regex
simplejson
locustio
detectlanguage
timezonefinder==3.4.2
git+git://github.com/firebase/firebase-admin-python/commit/8f7148557933ecb51888fef2e29c488a40b64d66
