.position-relative {
    position: relative;
}

.center-text {
    text-align: center;
}

.space_top {
    margin-top: 30px;
}

.hidden {
    display: none;
}

.same-line {
    white-space: nowrap;
}

.blue-section {
    background-color: #004897;
    color: white;
}

.field-boolean input[type="checkbox"] {
    margin-top: 20px;
    width: initial;
    height: initial;
}

.donation_success {
    margin-bottom: 20px;
}

.donation_success h1 {
    font-size: 50px;
    line-height: 50px;
}

.donation_success .thank_you_container {
    margin-bottom: 20px;
    color: black;
}

/* Problems displaying image fields in forms */
.form-field input[type=file].form-control {
    height: initial !important;
}

.quote {
    font-size: 20px !important;
}